@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <!-- Write your comments here -->
        @DateTime.Now.ToString("F", System.Globalization.CultureInfo.CurrentCulture)
        

    </p>
</div>
